*, *::before, *::after{
    box-sizing: border-box;
    font-family: Candara, serif;
    font-weight: bold;
    /*font-weight: normal;*/
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #ffb8c8, #9effe8);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.50);
}

.calculator-grid > button:hover{
    background-color: rgba(255,255,255);
}
.span-two {
    grid-column: span 2;
}

.outputs{
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    word-wrap: break-word; /* to break a word in the middle of it */
    word-break: break-all;
}

.outputs .previous-operand{
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;
}

.outputs .current-operand{
    color: rgba(255,255,255);
    font-size: 2.5rem;
}